/* Cormorant Font Family */
@font-face {
    font-family: 'Cormorant';
    src: url('/fonts/Cormorant-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular weight */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Cormorant';
    src: url('/fonts/Cormorant-Light.ttf') format('truetype');
    font-weight: 300; /* Light weight */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Cormorant';
    src: url('/fonts/Cormorant-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium weight */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Cormorant';
    src: url('/fonts/Cormorant-SemiBold.ttf') format('truetype');
    font-weight: 600; /* SemiBold weight */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Cormorant';
    src: url('/fonts/Cormorant-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold weight */
    font-style: normal;
  }
  
  /* DM Sans Font Family */
  @font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DMSans-Regular.ttf') format('truetype');
    font-weight: 400; /* Regular weight */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DMSans-Light.ttf') format('truetype');
    font-weight: 300; /* Light weight */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DMSans-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium weight */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DMSans-SemiBold.ttf') format('truetype');
    font-weight: 600; /* SemiBold weight */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DMSans-Bold.ttf') format('truetype');
    font-weight: 700; /* Bold weight */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DMSans-ExtraBold.ttf') format('truetype');
    font-weight: 800; /* ExtraBold weight */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DMSans-ExtraLight.ttf') format('truetype');
    font-weight: 200; /* ExtraLight weight */
    font-style: normal;
  }